/node_modules

/.idea

yarn-error.log

.envrc

*.csv

/.vscode

!/lib/enkaManager/ui/UI_Gacha_AvatarImg_PlayerBoy.png

!/lib/enkaManager/ui/UI_Gacha_AvatarImg_PlayerGirl.png

package-lock.json

yarn.lock

/cache/*
/src/test/*
/src/test

/dist

