# ----- Development Dependencies -----
/node_modules

# ----- Source Code & Build Files -----
/src
/cache
/dist/test
/src/test
/scripts
/test

# ----- Documentation & Examples -----
/docs
/handbooks
/examples

# ----- CI/CD & Development Tools -----
/.github
/.husky
/.vscode

# ----- Configuration Files -----
.eslintrc.json
eslint.config.js
.eslintignore
.gitignore
.prettierrc
.prettierignore
tsconfig.json
tsup.config.ts
typedoc.json
vitest.config.ts
commitlint.config.js
